{% load  static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style.css'%}"/>
</head>
<body>
<div class="topnav">
    <li><a class="active" href="https://www.google.co.in/" href="#home">Home</a>
    <a href="https://learn.talentsprint.com/login" href="#login">Login</a>
    <a href="https://talentsprint.com/about-us.dpl"  href="#about"  >AboutUs</a>
    <a href="https://talentsprint.com/contact.dpl" href="#contact">ContactUs</a>
    </li>
</div>
<div>
    <img src="https://st.depositphotos.com/1032577/4812/i/450/depositphotos_48129893-stock-photo-frame-with-daisies-and-lettering.jpg" height="450px" width="450px">
</div>
<div>
    <h1>Welcome to my project</h1>
</div>
</body>
</html>